# MySQLdb: python操作mysql数据库基础

## 1 创建MySQL数据库

我们创建一个test数据库来练手，先确认本机器已经安装了mysql，并且正在运行

```
$ sudo netstat -tap | grep mysql

> tcp        0      0 localhost:mysql         0.0.0.0:*               LISTEN      23489/mysqld
```
说明mysql正在运行

首先登录mysql, root是用户名，-p 是输入密码

```
$ mysql -u root -p
```

登录以后，查看当前所有数据库

```
mysql> show databases;
```

创建test数据库

```
mysql> create database test;
```

使用这个数据库

```
mysql> use test;
```

查看这个数据库下的表

```
mysql> show tables;
```

创建user表

```
mysql> create table user (name VARCHAR(20),password VARCHAR(20));
```

插入若干条记录

```
mysql> insert into user values('Tom','123');
mysql> insert into user values('Alen','456');
mysql> insert into user values('Jack','789');
```

查看表的所有数据

```
mysql> select * from user;
```

自此，用于练手的数据库和表就建立好了。

## 2 python操作数据库

导入MySQLdb，如果没有安装，用pip安装

```
$ pip install MySQL-python
```

In [2]:
import MySQLdb as msq

连接数据库，并获得游标。

In [4]:
conn = msq.connect(
    host='localhost',
    port = 3306,
    user ='root',
    passwd ='your_mysql_password',
    db = 'test',
)

cur = conn.cursor()

创建一张student表。

In [9]:
cur.execute("create table if not exists student(id int ,name varchar(20),class varchar(30),age varchar(10))")
conn.commit()  # 必须要提交后才会真正执行

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: Warning: Table 'student' already exists
  if __name__ == '__main__':

插入一条数据

In [11]:
cur.execute("insert into student values('2','Tom','3 year 2 class','9')")
conn.commit()

一次插入多条

In [13]:
sqli = "insert into student values(%s, %s, %s, %s)"
cur.executemany(sqli,[
    ('3','Tom','1 year 1 class','6'),
    ('3','Jack','2 year 1 class','7'),
    ('3','Yaheng','2 year 2 class','7'),
    ])
conn.commit()

查询数据

In [14]:
nbr = cur.execute("select * from student")
print nbr

8

fetchone()方法可以帮助我们获得表中的数据，可是每次执行cur.fetchone() 获得的数据都不一样，换句话说我没执行一次，游标会从表中的第一条数据移动到下一条数据的位置，所以，我再次执行的时候得到的是第二条数据。

scroll(0,'absolute') 方法可以将游标定位到表中的第一条数据。

In [18]:
print cur.fetchone()
print cur.fetchone()
print cur.fetchone()
cur.scroll(0,'absolute')

(2L, 'Tom', '3 year 2 class', '9')
(2L, 'Tom', '3 year 2 class', '9')
(3L, 'Tom', '1 year 1 class', '6')

fetchall()接收全部返回的结果。

In [19]:
print cur.fetchall()

((2L, 'Tom', '3 year 2 class', '9'), (2L, 'Tom', '3 year 2 class', '9'), (3L, 'Tom', '1 year 1 class', '6'), (3L, 'Jack', '2 year 1 class', '7'), (3L, 'Yaheng', '2 year 2 class', '7'), (3L, 'Tom', '1 year 1 class', '6'), (3L, 'Jack', '2 year 1 class', '7'), (3L, 'Yaheng', '2 year 2 class', '7'))

更多数据库操作：http://www.runoob.com/python/python-mysql.html